  body {
            height: 100vh;
            background-color: #121212; /* тёмный фон */
            display: flex;
            flex-direction: column;
        }

        .auth-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .auth-card {
            background-color: #1e1e1e;
            padding: 2rem;
            border-radius: 0.75rem;
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
            width: 100%;
            max-width: 400px;
            color: #fff;
        }

        .auth-card a {
            color: #0d6efd;
            text-decoration: none;
        }

        .auth-card a:hover {
            text-decoration: underline;
        }

        footer {
            text-align: center;
            padding: 1rem 0;
            color: #888;
            font-size: 0.9rem;
        }

        .ErrorsListeRegistration
        {
            text-align: left;
        }